<div class="pokemon panel panel-primary">
  <div class="panel-heading">
    <pokemon-name></pokemon-name>
  </div>
  <div class="panel-body">
    <a href="/#pokemon/{{pokemon.name | normalize}}">
      <pokemon-image></pokemon-image>
    </a>
  </div>
  <div  ng-controller="RatingCtrl" name="pokemonRating">
    <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"  aria-labelledby="default-rating"></span>
    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
  </div>
  <div class="panel-footer">
    <div class="text-center">
      <pokemon-type></pokemon-type>
    </div>
  </div>
</div>






